@use "colors" as *;

.popup {
    top: 120px;
    z-index: 2;
    background-color: #fff;
    font-size: 1rem;
    padding-top: 0;
    position: absolute;
    width: 800px;

  img {
    border-radius: 4px;
    height: 80px;
    width: 80px;
    object-fit: cover;
  }

    &:not(:has(.news)) {
        display: none;
    }

    .icon {
        font-size: 1.4rem;
        color: $cto;
        outline: 2px solid $cto;
        padding: 0 0.6rem;
        border-radius: 100px;
    }

    .close {
        font-size: 1.3rem;
        cursor: pointer;

        &:hover {
            color: $cto;
        }
    }
}
