@if(newsData$ | async; as newsData) {
    <div class="popup sui flex-y gap-3 p-4 shadow">
        <div class="sui flex-x" style="height: 20px">
            <div class="sui grow-1" style="pointer-events: none;"></div>
            <span class="close sui pt-3" (click)="hideIdsForever(getIds(newsData))">✖</span>
        </div>
        @for (news of newsData; track $index) {
                <b>{{news.title}}</b>
          <div class="sui flex-x gap-3">
            <img
              [alt]="news.thumbnail?.alternativeText"
              [src]="news.thumbnail | strapiMedia: 'medium'"
            />
            <div class="news sui flex-y gap-2">
                <span class="description">{{news.description}}</span>
                <a class="link" [routerLink]="'news/' + news.id" (click)="hideIdsForever([news.id])">Mehr erfahren ›</a>
            </div>
          </div>
        }
    </div>
}
