@if (footerData$ | async; as footerData) {
  <div class="banner bg-lightgreen"
       style="background-image: linear-gradient(90deg, #0006, #0002), url({{footerData.background | strapiMedia : 'xlarge'}});">
    <app-article class="sui py-3" [sections]="footerData.article"/>
  </div>
}


<div class="footer bg-lightgreen sui flex-y">
  <div class="footer-top">
    <a routerLink="/">
      <img alt="herzenshunde-logo" class="sui flex-y gap-2" src="assets/img/mfts-logo-mono.png"/>
    </a>
    <div class="sui flex-y gap-2">
      <h2>Spenden</h2>

      Kreditinstitut: Kreissparkasse Tuttlingen<br>
      IBAN : DE77 6435 0070 0000 4865 52<br>
      BIC: SOLADES1TUT<br>
      Verwendungszweck: Spende<br><br>

      Zweites Spendenkonto und weitere Infos unter Menüpunkt Helfen

      <br><br>
      <h3 class="sui pt-3">Soziale Netzwerke</h3>
      <span class="sui flex-x ai-center gap-3">
        <a aria-label="Unsere Facebook Seite" href="https://www.facebook.com/profile.php?id=61563419603932">
          <icon type="facebook" size="larger"/>
        </a>
        <a aria-label="Unsere Instagram Seite" href="https://www.instagram.com/herzenshunde_griechenland/">
          <icon type="instagram" size="large"/>
        </a></span>

    </div>
    <div class="sui flex-y gap-2">
      <span>
        <h2 style="text-decoration: underline; text-underline-offset: 8px"><a [routerLink]="'kontakt'" >Kontakt</a></h2>
        Jahnweg 8<br>
        78549 Spaichingen<br><br>
      <a class="sui flex-x ai-center gap-3 mb-2" href="mailto:kontakt@herzenshunde-griechenland.de">
        <icon type="mail"/>
        <span>kontakt&#64;herzenshunde-griechenland.de</span>
      </a>
      <span class="sui flex-x ai-center gap-3">
        <icon type="phone"/><span>+49 17684273140</span>
      </span>
      </span>
      <app-paypal-button-section [sectionData]="{__component: 'article-section.paypal-button',background: 'nein'}"/>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="content">
      <span>© Menschen für Tiere e.V. Spaichingen</span>
      <div class="sui flex-x gap-3 jc-center grow-1">
        <a routerLink="impressum">Impressum</a>
        <a routerLink="dsgvo">Datenschutzvereinbarung</a>
      </div>
    </div>
  </div>
</div>
