@if (animals$ | async; as animals) {
  @for (whereEntry of {animals: animals, isVisibleFunction: isVisibleFunction} | filterAnimals; track $index) {
    <div class="animal-list-section">
      <div class="section-explainer">
        <h3>{{ whereEntryName(whereEntry[0]) }}</h3>
        <p [innerHTML]="whereEntryExplainer(animalKind + '-' + whereEntry[0])"></p>
      </div>
      <div class="animal-list">
        @for (animal of whereEntry[1]; track animal.id) {
          @if(isVisibleFunction!(animal)) {
            <app-animal-tile [animal]="animal"/>
          }
        }
      </div>
      <br>
    </div>
  }
  <div class="empty-list">Zur Zeit befinden sich keine Tiere mit diesen Suchkriterien bei uns im Tierheim oder in Vermittlungshilfe.</div>
}
